#tablero {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px gray solid;
}

#tablero td {
  margin: 0;
  height: 8vmin;
  width: 8vmin;
  text-align: center;
}

#tablero td.casillero {
  font-size: 10vmin;
  line-height: 8vmin;
  cursor: pointer;
}

#tablero td.posible {background: orange !important;}

#tablero td.claro { background: #f1ebc7; }
#tablero td.oscuro { background: #b16132; }
#tablero td.claro.seleccionada { background: #ffea6a !important;}
#tablero td.oscuro.seleccionada { background: #f78d4f !important;}

span.pieza {font-size: 50px;}

body {
  padding: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
